<p id="notice"><%= notice %></p>

<div class="post_top">
  <div class="post_title"><h1>Main tales</h1></div>
</div>


<% @tales.each do |tale| %>

<%= render 'tale', :tale => tale %>

<% end %>

<div class="apple_pagination">
  <div class="page_info">
    <%= page_entries_info @tales %>
  </div>
  <%= will_paginate @tales %>
</div>

