<div class="post_top">
  <div class="post_title"><h1>Rules</h1></div>
</div>
<div class="post_body">
  
  Write what you want. You and only you are responsible for everything you write. 
  Don't waste time to blame admins. If you were insulted or you feel angry about some text, 
  direct strict to that person.
  
  
</div>